[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
brotlipy = "*"
filecache = "*"
fire = "*"
h2 = "*"
httpx = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pyfiglet = "*"
python-telegram-bot = "*"
pytrends = "*"
scikit-learn = "*"
seaborn = "*"
sty = "*"
tqdm = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
