[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
filecache = "*"
fire = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pyfiglet = "*"
python-telegram-bot = "*"
pytrends = "*"
requests = "*"
scikit-learn = "*"
seaborn = "*"
sty = "*"
tqdm = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
