[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
fire = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pyfiglet = "*"
requests = "*"
filecache = "*"
pytrends = "*"
tqdm = "*"
scikit-learn = "*"
sty = "*"

[dev-packages]

[requires]
python_version = "3.10"
